<div id="footer">  <div class="container">
 <p class="muted credit">&copy;Fluyy 2013 with help from<a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>and<a href="www.tornadoweb.org"target="_blank">Tornado</a>Running on<a href="http://developer.baidu.com/"target="_blank">BAE</a>
<script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + _bdhmProtocol +"hm.baidu.com/h.js%3F0fbd82c47926f1d05f6d97ebada6029b' type='text/javascript'%3E%3C/script%3E"));
</script>
  </p></div></div>
